#shapes .logo {
    width: 0;
    height: 0;
    border-bottom: 300px solid #333333;
    border-left: 300px solid transparent;
    top: 720px;
    right: 200px;
    z-index: 0;
    overflow: hidden;
}

.shape {
    position: absolute;
    z-index: 20;
}

@media screen and (max-width: 500px) {
    #shapes{
        display:none;
    }
}

/*@media screen and (max-width: 415px) {
	#concentrations{
		display:none;
	}
}*/

#shapes .mask1, #shapes .mask2, #shapes .mask3 {
    background: #fff;
    -webkit-transition: background .25s ease .2s;
    -moz-transition: background .25s ease .2s;
    -o-transition: background .25s ease .2s;
    -ms-transition: background .25s ease .2s;
    transition: background .25s ease .2s;
}


#shapes .mask3 {
    height: 300px;width: 470px;
    margin-left: 0px;right: -330px;
    top: 415px;position: absolute;
    z-index: 0;

    background: rgba(255,255,255, 0.95);

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);

    -moz-box-shadow: -0.2em 1.2em 1em #441100;
    -webkit-box-shadow: -0.2em 1.2em 1em #441100;
    box-shadow: -0.2em 1.2em 1em #441100;
    overflow: hidden;
}

div#diamond{
    height: 300px;width: 470px;
    right: -330px;
    position: absolute;
    overflow: hidden;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);

    -moz-box-shadow: -0.8em .6em .3em rgba(13,12,13,0.7);
    -webkit-box-shadow: -0.8em .6em .3em rgba(13,12,13,0.7);
    box-shadow: -0.8em .6em .3em rgba(13,12,13,0.7);

    background: #430216;
}

div#diamond .mask2 {
    margin-right: 0;
    float: right;direction: rtl;

    position: absolute;
    z-index: 20;
    overflow: hidden;
}

#shapes .mask1 {
    height: 350px;width: 540px;
    margin-left: 0px;left: -85px;
    top: -120px;position: absolute;
    z-index: 0;

    background: #430216;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);

    -moz-box-shadow: -0.8em .6em .3em rgba(213,112,13,0.1);
    -webkit-box-shadow: -0.8em .6em .3em rgba(213,112,13,0.1);
    box-shadow: -0.8em .6em .3em rgba(213,112,113,0.15);
    overflow: hidden;
}